<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<widget appId="11208249" channelCode="000" height="480" sreensize="3.5" version="0.2.3" widgetId="" width="320"> 
  <name>OZMALL</name>  
  <description>ECshop</description>  
  <author email=""/>  
  <icon src="icon.png"/>  
  <license href=""/>  
  <content encoding="utf-8" src="index.html"/>  
  <updateurl>http://www.ozmall.com.auplugins/zywx/rpc/upgrade.php?act=widget_upgrade</updateurl>  
  <logserverip>192.168.1.130</logserverip>  
  <showmyspace>false</showmyspace>  
  <obfuscation>false</obfuscation>  
  <bgcolor>#ffffff</bgcolor>  
  <orientation>1</orientation>  
  <appSec>292fde39475a3931adb4b8c36f3a5283</appSec>
</widget>
